:root {
  --first-color: #fff;
  --second-color: #2bb3b1;
  --third-color: #4abebd;
  --fourth-color: #bfdf32;
  --fifth-color: #e6eff6;
  --sixth-color: #a7aab3;
}

* {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  --ms-box-sizing: border-box;
  --o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--fifth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
main.container {
  background-color: var(--first-color);
  width: 85%;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-size: small;
  border-radius: 0.5rem;
}
.first-cont {
  background-color: var(--first-color);
  padding: 2rem;
  color: var(--sixth-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.first-cont p {
  font-size: 0.8rem;
}
.first-cont > h5 {
  color: var(--second-color);
  font-weight: 700;
  font-size: large;
}
.first-cont > h5 + p {
  margin-top: 1em;
  color: var(--fourth-color);
  font-weight: 700;
  font-size: large;
}
.first-cont > h5 + p + p {
  margin-top: 1.5em;
  font-size: medium;
}
.second-cont {
  background-color: var(--second-color);
  color: var(--first-color);
  display: grid;
  padding: 2rem;
}
.second-cont > h5 {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: large;
}
.second-cont > h5 + p .dollar {
  font-size: large;
  font-weight: bold;
  margin-right: 0.7em;
}
.second-cont > h5 + p .statement {
  font-size: medium;
  color: #ffffffad;
}
.second-cont > h5 + p + p {
  color: #ffffff;
  font-size: medium;
  margin-top: .05em;
}
.second-cont button {
  width: 60%;
  height: 2.5rem;
  margin-top: 1em;
  background-color: var(--fourth-color);
  color: var(--first-color);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.third-cont {
  background-color: var(--third-color);
  color: var(--first-color);
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.third-cont h5 {
  font-size: large;
  margin-bottom: 0.5em;
}
.third-cont p {
  font-size: medium;
  max-width: 14em;
  opacity: 0.8;
}

@media only screen and (min-width: 950px) {
  main.container {
    background-color: var(--first-color);
    width: 40%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 1em;
  }
  .first-cont {
    width: 100%;
    grid-area: 1 / 1 / 2 / 3;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2em;
  }
  .first-cont > h5 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .first-cont > h5 + p {
    font-size: medium;
    margin-top: 2em;
  }
  .first-cont > h5 + p + p {
    font-size: medium;
  }
  .second-cont {
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
    border-bottom-left-radius: 1rem;
    padding: 2em;
    justify-content: flex-start;
  }
  .second-cont > h5 {
    font-size: medium;
  }
  .second-cont p {
    font-size: medium;
  }
  .second-cont p .dollar {
    font-weight: bold;
  }
  .second-cont .second-para {
    font-size: small;
    letter-spacing: 1px;
  }
  .third-cont {
    width: 100%;
    grid-area: 2 / 2 / 2 / 3;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0;
    padding: 2em;
  }
  .third-cont h5 {
    font-size: large;
  }
  .third-cont p {
    max-width: 200px;
    margin-top: 2em;
    font-size: small;
    line-height: 25px;
    opacity: 0.8;
  }
}
